<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function userCreate() {
            if (form.id.value == "") {
                alert("사용자 ID를 입력하십시오.");
                form.userId.focus();
                return false;
            }
            if (form.password.value == "") {
                alert("비밀번호를 입력하십시오.");
                form.password.focus();
                return false;
            }
            if (form.password.value != form.password2.value) {
                alert("비밀번호가 일치하지 않습니다.");
                form.name.focus();
                return false;
            }

            var emailExp = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
            if (emailExp.test(form.email.value) == false) {
                alert("이메일 형식이 올바르지 않습니다.");
                form.email.focus();
                return false;
            }

            form.submit();
        }
    </script>

</head>
<body>
<div class="container">
    <section class="container mt-3" style="max-width: 560px;">
        <div class="row col-lg-12">
            <h6 class="text-danger" th:if="${exception}" th:text="${message}" />
        </div>

        <form action="#" name="form" method="POST" th:action="@{/user/create}">
            <div class="form-group" id="userType">
                <label for="userType" ></label>
                <div class="form-check form-check-inline">
                    <input value="user" class="form-check-input" type="radio"
                           name="userType" id="flexRadioDefault2" checked> <label
                        class="form-check-label" for="flexRadioDefault2"> 회원
                </label>
                </div>
                <div class="form-check form-check-inline">
                    <input value="trainer" class="form-check-input" type="radio"
                           name="userType" id="flexRadioDefault1"> <label
                        class="form-check-label" for="flexRadioDefault1"> 강사
                </label>
                </div>
            </div>
            <div class="form-group row" id="id">
                <label for="id" class="col-lg-2 col-form-label">아이디</label>
                <div class="col-lg-10">
                    <input type="text" name="id" class="form-control" placeholder="아이디">
                </div>
            </div>
            <div class="form-group row" id="password">
                <label for="password" class="col-lg-2 col-form-label">비밀번호</label>
                <div class="col-lg-10">
                    <input type="password" name="password" class="form-control" placeholder="password">
                </div>
            </div>
            <div class="form-group row" id="password2">
                <label for="password2" class="col-lg-2 col-form-label">비밀번호 확인</label>
                <div class="col-lg-10" style="margin: auto">
                    <input type="password" name="password2" class="form-control" placeholder="비밀번호 확인">
                </div>
            </div>
            <div class="form-group row" id="email">
                <label for="email" class="col-lg-2 col-form-label">이메일</label>
                <div class="col-lg-10">
                    <input type="text" name="email" class="form-control" placeholder="you@example.com">
<!--                    <c:if test="${registerFailed}">value="${user.email}"</c:if>>-->
                </div>
            </div>
            <div class="form-group row" id="phone">
                <label for="phone" class="col-lg-2 col-form-label">연락처</label>
                <div class="col-lg-10" style="margin: auto">
                    <input type="text" name="phone" class="form-control" placeholder="연락처">
                </div>
            </div>
            <div class="form-group row" id="name">
                <label for="name" class="col-lg-2 col-form-label">이름</label>
                <div class="col-lg-10" style="margin: auto">
                    <input type="text" name="name" class="form-control" placeholder="이름">
                </div>
            </div>
            <br>
            <div class="form-group">
                <input onclick="userCreate()" type="button" class="btn btn-primary" value="가입"  >
<!--                onclick="userCreate();"-->
                <input class="btn btn-light" type="reset" value="초기화">
            </div>
        </form>
    </section>
</div>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>